<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores debitis sapiente optio vitae laborum, magnam tempora fugiat nemo quos eaque aliquid culpa consequuntur numquam sed quis aperiam sint hic quidem.</p>
    <button>Click me</button>
    <h1>Your dice gave value : <%= diceValue %></h1>
</body>
</html>