<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Post in detail</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h2>This is your post in detail</h2>
    <p>Post id: <%= post.id %></p>
    <div class="post-card">
      <h3 class="username">Username: <%= post.username %></h3>
      <h4 class="title">Title: <%= post.title %></h4>
      <p class="content">Content: <%= post.content %></p>
    </div>
  </body>
</html>
